.abc {
    background-color: #F0F2F5;
}

.color-body {
    /* background-color: #F0F2F5; */
}

.review-deign {
    margin-left: 55px;
    margin-right: 60px;
    background-color: #FAFAFA;
}

.related-design {
    font-style: normal;
    font-size: 14px;
    line-height: 44px;
    color: #212121
}